.exerciseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.exerciseItemType {
  font-weight: 500;
  background: rgb(216, 216, 216);
  padding: 0.2em 0.5em;
}
