.modalBackground {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
}

.modalContainer {
  /* z-index: 99; */
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.modalInput {
  margin: 0 auto;
  width: 90%;
  border: none;
}
.nameInput {
  margin-bottom: 0.6em;
}
.noteInput,
.typeInput {
  font-size: 12px;
}
.modalBtnContainer {
  /* text-align: right; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-right: 1em;
}
.modalBtn {
  margin-left: 1em;
  background: none;
  border: none;
  cursor: pointer;
  justify-self: end;
  text-align: right;
}
.addModalBtn {
  background: #4c8bf5;
  padding: 0.6em 1.2em;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
}

.closeModalBtn {
  color: rgb(121, 112, 112);
}
